:root {
  --primary-color: #434455;
  --title-color: #2e2f42;
  --accent-color: #4d5ae5;
  --background-hover-btn: #404bbf;
  --text-footer: #f4f4fd;
  --header-color: #ffffff;
  --border-color: #e7e9fc;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--primary-color);
  background-color: var(--header-color);
}
.list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.link {
  text-decoration: none;
}
img {
  display: block;
}
.suptitle {
  padding: 0;
  margin: 0 0 8px 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-color);
}
.text {
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-color);
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
  width: 1158px;
}
/* header */
.header {
  border-bottom: 1px solid var(--border-color);
}
.header-nav {
  display: flex;
  align-items: center;
}
.link-logo {
  margin-top: 24px;
  margin-right: 76px;

  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--accent-color);
}
.logo-text {
  color: var(--title-color);
}
.menu {
  display: flex;
  gap: 40px;
}
.menu-link {
  display: block;
  padding-bottom: 24px;
  padding-top: 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--title-color);
}

.menu-link:hover,
.menu-link:focus {
  color: var(--background-hover-btn);
}
.navigation {
  display: flex;
  align-items: center;
}
.contacts {
  margin-left: auto;
}
.contacts-list {
  display: flex;
  gap: 40px;
}
.contacts-link {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-color);
}
.contacts-link:hover,
.contacts-link:focus {
  color: var(--background-hover-btn);
}
/* section 1  */
.hero {
  text-align: center;
  background-color: var(--title-color);
}
.hero-content {
  padding-top: 188px;
  padding-bottom: 188px;
}
.caption {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 48px;

  max-width: 496px;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--header-color);
}
.order-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  border-radius: 4px;
  border: none;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;

  letter-spacing: 0.04em;
  cursor: pointer;
  color: var(--header-color);
  background-color: var(--accent-color);
}
.order-button:hover,
.order-button:focus {
  color: var(--header-color);
  background-color: var(--background-hover-btn);
}

/* section 2 */
.feature {
  padding-top: 120px;
  padding-bottom: 120px;
}
.feature-list {
  display: flex;
  gap: 24px;
}
.feature-item {
  width: 264px;
}
/* section 3 */
.options {
  padding-bottom: 120px;
}
.option-title {
  padding: 0;
  margin-top: 0;
  margin-bottom: 72px;

  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: var(--title-color);
}
.option-list {
  display: flex;
  gap: 24px;
}
.option-item {
  width: calc((100%-48px) / 3);
}
/* section 4 our team */
.section-team {
  padding: 120px 0;
}
.team-list {
  display: flex;
  gap: 24px;
}
.team-item {
  width: calc((100%-72px) / 4);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--header-color);
}
.team-name {
  padding: 32px 16px;
  text-align: center;
}
.team {
  background-color: var(--text-footer);
}

/* footer */
.footer {
  padding: 100px 0;
  background-color: var(--title-color);
}
.link-logo-footer {
  display: inline-block;
  margin: 0;
  margin-bottom: 16px;
}

.footer-text {
  max-width: 264px;
  color: var(--text-footer);
}
.logo-second {
  color: var(--text-footer);
}

/* portfolio */
.portfolio {
  padding: 96px 0 120px;
}
.portfolio-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.portfolio-btm {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  border: 1px solid var(--border-color);

  border-radius: 4px;
  padding: 12px 24px;

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: var(--accent-color);
  background-color: var(--text-footer);
}

.portfolio-btm:hover,
.portfolio-btm:focus {
  border: 1px solid transparent
  color: var(--header-color);
  background-color: var(--background-hover-btn);
}



.projects-name{
  padding: 32px 16px;
  border: 1px solid var(--border-color);
  border-top: none;
}
.list-projects {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 120px;
}
.list-item {
  width: calc((100% - 48px) / 3);
  margin-right: 24px;
  margin-bottom: 48px;
}
.list-item:nth-child(3n) {
  margin-right: 0;
}
.list-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
